/* * {
    margin: 0;
    padding: 0;
    } */


html {
    font-family: 'Josefin Sans', sans-serif;
    background-color: #212324;
    
}

.fotosartistas {
    border-radius: 10%;
}

a, h2, h4, p, h1, table {
    color: rgb(255, 255, 255)    
}

a:hover {
    color: #055778;
    -webkit-transition: all 0.5s 0s ease-out;
    -moz-transition: all 0.5s 0s ease-out;
    -o-transition: all 0.5s 0s ease-out;
    transition: all 0.5s 0s ease-out;   
}

hr {
    border-bottom-color: #148ebf;
    border-right-color: #148ebf;
    border-top-color: #055778;
    border-left-color: #055778;
    border-width: 5px;
    height: 5px;
}

.menu {
    font-size: 17px
}

.socials {
    font-size: 15px;
}

ul {
    list-style-position: inside;
    color: white;
}

